/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fcf0ff;
}

/* Container */
.count-app {
  text-align: center;
  margin: 80px auto;
  width:569px;
  padding: 30px;
  border: 2px solid #8a2be2;
  border-radius: 10px;
  background: linear-gradient(105deg, #e0eafc, #cfdef3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.count-display {
  font-size: 6rem;
  font-weight: bold;
  color: #4b0082;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 40px;
  border: 4px dashed #9932cc;
  border-radius: 3px;
  background-color: #fafad2;
  height: 103px;
}


.count-body {
  display: flex;
  justify-content: center;
  gap: 55px;
  margin-top: 20px;
}


.count-btn {
  font-size: 1.2rem;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.count-btn:nth-child(1) {
  background-color: #28a745;
  font-size: 1.4rem;
  padding: 10px 20px; 
}

.count-btn:nth-child(2) {
  background-color: #dc3545;
  font-size: 1.4rem;
  padding: 10px 20px; 
}

.count-btn:nth-child(3) {
  background-color: #ffc107;
  font-size: 1.4rem;
  padding: 10px 20px; 
}


.count-btn:hover {
  transform: scale(1.1);
  border-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}