.login-panel {
    display: none; /* Initially hide the login panel */
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

.dashboard-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f8f9fa;
}

/* ... other CSS styles for the dashboard components ... */

.button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #1e9663;
}

.logout-button {
    background-color: #dc3545;
}

.logout-button:hover {
    background-color: #4b2932;
}